body {
  background-color: #F5F5F5;
  color: #0b3954;
  font-family: 'Pacifico', cursive;
  
}

.carousel {
  width: 100%;
}

.carousel-image {
  background-size: cover;
  width: 100%;
  height: 500px;
}

.brickcolumn-image {
  background-image: url("../images/brickcolumn.jpg");
  background-position: center center;
}

.pitons-image {
  background-image: url("../images/pitons.jpg");
  background-position: center center;
}

.boats-image {
  background-image: url("../images/boats.jpg");
  background-position: center center;
}

.cabana-image {
  background-image: url("../images/cabana.jpg");
  background-position: center center;
}

.pool-image {
  background-image: url("../images/pool.jpg");
  background-position: center center;
}

nav {
  background-color: #303e55;
  color: white;
  
}

.nav-link {
  color: white;
  text-align: right;
}

.nav-link:hover {
  color: #af9164;
}

.navbar-brand {
  color: white;
  
  }

.navbar-brand:hover {
  color: #E0FFFF;
}

.navbar-toggler {
  border-color: white;
  cursor: pointer;
}

.navbar-toggler:hover {
  background-color: #E0FFFF;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] {
  background-color: #ff6663;
}

.nav-toggle-icon {
  color: white;
  font-size: 1.5rem;
}

.hero {
  color: #fefffe;
  height: 500px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  text-align: center;
  font-family: 'Pacifico', cursive;
  background-position: center center;
}

.card {
  position: relative;
}

.card-title {
  text-align: center;
  font-size: 70px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
}

.close {
  cursor: pointer;
}

.display-2 {
  font-size: 35px;
}

.display-3{
  font-size: 60px;
}



@media screen and (max-width: 768px) {
  .hero {
    background-image: url("../images/hero-bg.jpg");
    height: 300px;
  }

  .carousel .display-2 {
    font-size: 3rem;
  }
}
